body{
	background-color:grey
}
nav{
	text-align: center 
}

nav{
	background-color: black 
}
nav a{
	color: white
}
h1{
	text-align: center 
}
.car{
	color: blue
}
h2{
	text-align: center 
}